.main{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 200px;
    min-height: 50px;
}